$fuentePrincipal: "Roboto", sans-serif;

$azul: #3a1de1;
$morado: #9d94bd;
$lila: #9c75f0;
$moradoMedio: #3D09E0;
$azulMedio: #5590d3;
$verde: #71B100;
$rojo: rgb(245,76,76);
$amarillo: #E08709;
$grisOscuro: #333333;
$blanco: #fff;
$negro: #000;
$gris: #e1e1e1;
$azulOscuro: #095fbc;
$azulBrillante: #007bff;
$azulClaro: #92c2e4;

$verdeOscuro: #1e7e34;
$verdeClaro: #e6ffe9;

$telefono: 468px;
$tablet:768px;
$desktop:1200px;

$separacion: 5rem;